@{
    Layout = null;
}

<div class="footer">
    <div class="footer_swap">
        <div class="footer_top">
            <div class="search_bar_wrap">
                @Html.Partial("_SearchbarPartial")
            </div>
        </div>
        <div class="footer_mid">
            <div class="footer_mid_wraper">
                <ul>
                    <li>
                        关于我们<dl>
                            <dd><a>I音乐介绍</a></dd>
                            <dd><a>版权声明</a></dd>
                            <dd><a>新闻动态</a></dd>
                        </dl>
                    </li>
                    <li>
                        开放合作
                        <dl>
                            <dd><a>友情链接</a></dd>
                            <dd><a>开放平台</a></dd>
                            <dd><a>业务合作</a></dd>
                        </dl>
                    </li>
                    <li>
                        网站帮助
                        <dl>
                            <dd><a>常见问题</a></dd>
                            <dd><a>网站地图</a></dd>
                            <dd><a>网站公告</a></dd>
                        </dl>
                    </li>
                    <li>
                        系列产品
                        <dl>
                            <dd><a>客户端</a></dd>
                        </dl>
                    </li>
                    <li>
                        联系我们
                        <dl>
                            <dd><a href="#" title="微博" class="connect_me_weixin"></a></dd>
                            <dd><a href="#" class="more">更多>></a></dd>
                        </dl>
                    </li>
                </ul>
                <div class="QRCode">
                    <span class="QRCode1"></span>
                    <span class="QRCode2"></span>
                    <div class="clearfix"></div>&nbsp;&nbsp;
                    <strong>IMusic</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>App</strong>
                </div>
                <div class="copyright">
                    <p class="copyright_logo_ico"></p>
                    <p class="clearfix"><a>蜀ICP备15012512号-2</a></p>
                    <p>川网文[2012]0762-022</p>
                    <p>网络视听许可证0102622号</p>
                    <p>增值业务许可证A2.B1.B2-20100002</p>
                </div>
            </div>

        </div>
        <div class="footer_bottom"></div>
    </div>
</div>