@model IMusic.BLL.UserBase

@if (Model != null)
{
    if (Model is IMusic.BLL.Visitor)
    {
        <ul class="web_login">
            <li>
                <em class="icon_user"></em>
                @Html.ActionLink("登录", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })|@Html.ActionLink("注册", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
        </ul>
    }
    else if (Model is IMusic.BLL.User)
    {
        <ul class="web_login">
            <li class="user_name">
                你好,
                @Html.ActionLink(Model.DspName, "Detail", "iMusic.Controllers.ajax.UserController", routeValues: null, htmlAttributes: new { id = "loginLink" })
                <span class="line">&nbsp;&nbsp;| </span>
                <a id="logoff_link" href="javascript:;">退出</a>
                <script>
                    $(function () {
                        $("#logoff_link").click(function () {
                            $.post("ajax/user/logoff"
                                , {}
                                , function (data) {
                                    switch (data.code) {
                                        //success
                                        case 0: window.location = "/";; break;
                                        case 1: alert(data.msg); break;
                                        default: break;
                                    }
                                }
                                , "json")
                        });
                    });
                </script>
            </li>
        </ul>
    }
    else
    {
        //impossible
    }
}
else
{
    <ul><li>error</li></ul>
}