@{
    Layout = null;
}



<section id="search_box">
    <div class="search_box">
        <div class="search_input">
            <span class="search_input_wraper">
                <input type="text" id="searchtext" />
            </span>
        </div>
        <a href="javascript:;" id="searchbtn" class="search_status fl"></a>
        <div class="clearfix"></div>
    </div>
</section>